<div layout="column" layout-fill>
  <md-toolbar>

    <div class="md-toolbar-tools">
      <span>{{app.title}}</span>

      <!-- fill up the space between left and right area -->
      <span flex></span>

      
    </div>

  </md-toolbar>
 
</div>